.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.wrapper h1 {
  padding: 30px;
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
}

.container div {
  display: block;
  border: 1px solid #4E2F68;
  padding: 10px;
  margin: 10px;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.container div:hover {
  transform: scale(1.05);
}

