.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.wrapper h1 {
  padding: 30px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  width: 100%;
  margin: 0 auto;
  align-items: start;
}

.item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
