.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.wrapper h1 {
  padding-bottom: 30px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.item img {
  width: 18%;
  border-radius: 10px;
}
